{% extends '_base.html' %}
{% set page_title = "Add medical check" %}

{% block content %}
<div class="row g-3">
    <div class="col-md-5">
        {% set show_back_button = true %}
        {% include '_patient_summary_card.html' %}
    </div>

    <div class="col-md-7">
        <div class="card">
            <div class="card-header bg-info text-white">Add {{ check_type }} check</div>
            <div class="card-body">
                {% include '_medical_check_form.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
